@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Jost";
    src: url("../public/fonts/Jost-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Regular.ttf");
}

.formInputFile::-webkit-file-upload-button {
    background-color: #5d5656;
    border: none;
    color: #ffffff;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    margin-right: 1rem;
  }

.formInputFile {
    padding: 0.4rem 0.4rem;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

